/*--------COLOUR SCHEME-------- 
    Xanthous #FFC759
    Rose Pompadour #FF7B9C
    Gloucous #607196
    French Gray #BABFD1
    Anti-Flash White #E8E9ED
*/

:root {
    --dark: #607196;
    --light: #E8E9ED;
    --primary: #FFC759;
    --secondary: #ff8088;
    --tertiary: #BABFD1;
}

/* 
    --------BASE SETTINGS-------- 
*/
body {
    font-family: "Roboto Slab", serif;
}

/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

h1 {
    font-family: "Playwrite BE VLG", cursive;
}

h2, h3 {
    font-family: "Playfair Display", serif;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.8rem;
    text-decoration: underline;
}

h3 {
    font-size: 2.2rem;
}

hr {
    width: 100%;
}

a:focus {
    outline: 4px solid black;
}

/* Wrapper */

.wrapper {
    max-width: 860px;
    margin: 0 auto;
}

/* @media (max-width: 860px) {
    .wrapper {
        max-width: 860px;
        margin: 0 auto;
    }
} */

/* @media (min-width: 860px) {
    .wrapper {
        max-width: 100%;  
    } 
} */


.btn-1 {
    background-color: var(--primary);
    color: black;
    padding: 30px;
    font-size: 1.4rem;
    text-decoration: none;
}

.btn-1:hover {
    background-color: var(--dark);
    color: var(--light);
    text-decoration: underline;
}

.resume-btn {
    background-color: var(--secondary);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--light);
}

.resume-btn:hover {
    background-color: var(--dark);
    text-decoration: underline;
}

.skip-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Hides skip links */
.skip-links a {
    position: absolute;
    top: -3em;
    background-color: var(--secondary);
    color:white;
    padding: .5em 1em;
    font-weight: bold;
}

.skip-links:focus {
    top: 0;
}

.section-heading {
    text-align: center;
    margin: 25px;
}

/* 
    --------HEADING-------- 
*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
    padding: 10px;
}

.navbar h1 {
    font-weight: bold;
    margin: 16px;
    color: var(--primary);
}

.navbar a {
    text-decoration: none;
}

.navbar h1:hover {
    color: var(--primary);
}

.navigation {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    text-decoration: none;
    margin: 20px;
    color: var(--light);
    font-size: 1.2rem;
}

.nav-item:hover {
    text-decoration: underline;
    color: var(--primary);
}

.active {
    background-color: var(--primary);
    padding: 10px;
    color: black;
}

/* 
    ---------
    MAIN PAGE
    ---------
*/

/* 
    --------ABOUT ME-------- 
*/

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-content {
    display: flex;
    flex-wrap: nowrap;
}

/* 
    --------MY WORK-------- 
*/
.work-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.work-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light);
    padding: 150px;
    margin: 30px;
}

.work-item .btn-1 {
    align-self: center;
    margin: 15px;
}

/* @media (min-width: 900px) {

    .work-grid {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "c c c b b b"
            ". a a a a .";
    }

    .work-item:nth-child(1) {
        grid-area: a;
    }

    .work-item:nth-child(2) {
        grid-area: b;
    }

    .work-item:nth-child(3) {
        grid-area: c;
    }

} */

/* 
    --------FOOTER-------- 
*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
    color: var(--light);
}

footer p {
    font-size: 1.2rem;
    margin: 10px;
}

.icons {
    font-size: 2.3rem;
    margin: 10px;
}

.icons .bi {
    color: black;
}

.icons .bi:hover {
    color: var(--secondary);
}

/* 
    ---------
    PORTFOLIO PAGE
    ---------
*/

/* 
    --------PORTFOLIO PIECES-------- 
*/

.portfolio-item {
    display: flex;
    flex-direction: column;
    background-color: var(--light);
    margin: 20px;
}

.portfolio-item h3, .portfolio-item p{
    margin: 15px;
}

.portfolio-item .btn-1 {
    margin: 15px;
    align-self: flex-start;
}
