:root {
    --dark: #291F1E;
    --light: #fff;
    --primary: #F64740;
    --secondary: #ff8088;
    --tertiary: #477998;
}

/* 
    --------BASE SETTINGS-------- 
*/
body {
    font-family: "Roboto Slab", serif;
}

/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

h1 {
    font-family: "Playwrite BE VLG", cursive;
}

h2, h3 {
    font-family: "Playfair Display", serif;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 3.4rem;
    text-decoration: underline;
}

h3 {
    font-size: 3rem;
    font-weight: 800;
    color: var(--tertiary);
}

hr {
    width: 95%;
}

a:focus {
    outline: 4px solid black;
}

.wrapper {
    max-width: 860px;
    margin: 0 auto;
}


.btn-1 {
    background-color: transparent;
    border: 2px solid var(--primary);
    color: black;
    padding: 30px;
    font-size: 1.4rem;
    text-decoration: none;
}

.btn-1:hover {
    transition: ease-in-out 0.4s;
    background-color: var(--primary);
    color: var(--light);
    text-decoration: underline;
    box-shadow: 5px 5px black;
}

.skip-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Hides skip links */
.skip-links a {
    position: absolute;
    top: -3em;
    background-color: var(--tertiary);
    color: var(--light);
    padding: .5em 1em;
    font-weight: bold;
}

.skip-links a:focus {
    top: 0;
}

.section-heading {
    text-align: center;
    margin: 65px;
}

/* 
    --------HEADING-------- 
*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
}

.logo {
    font-weight: bold;
    margin: 16px;
    color: var(--primary);
    padding: 20px;
}

.navbar a {
    text-decoration: none;
}

.navbar h1:hover {
    transition: 0.5s ease-in-out;
    color: var(--secondary);
}

.navigation {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    text-decoration: none;
    margin: 20px;
    color: var(--light);
    font-size: 1.2rem;
}

.nav-item:hover {
    text-decoration: underline;
}

.active {
    background-color: var(--primary);
    padding: 10px;
    color: black;
}

.active:hover {
    transition: ease-in-out 0.4s;
    color: black;
    box-shadow: 5px 5px black;
}

/* 
    ---------
    MAIN PAGE
    ---------
*/

/* 
    --------MY WORK-------- 
*/

.work-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.work-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px;
    margin: 20px;
    background-color: #f8f8f8;
}

.work-item h3 {
    padding: 15px;
    color: #ffffff;
}

.work-item .btn-1 {
    align-self: center;
    margin: 40px 0 5px 0;
    color: var(--light);
}

.work-item .btn-1:hover {
    box-shadow: none;
}

/* Background images */

#web {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../images/web-design.jpg) no-repeat center;
    background-size: cover;
}

#graphic {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../images/graphic-design.jpg) no-repeat center;
    background-size: cover;
}

#user {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../images/ux.jpg) no-repeat center;
    background-size: cover;
}


/* 
    --------FOOTER-------- 
*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    color: var(--light);
    margin-top: 40px;
}

footer p {
    font-size: 1.2rem;
    margin: 20px;
    color: var(--light);
}

.icons {
    font-size: 2.6rem;
    margin: 20px;
}

.icons .bi {
    color: var(--light);
}

.icons .bi:hover {
    color: var(--secondary);
}

/* 
    ---------
    PORTFOLIO PAGE
    ---------
*/

/* 
    --------PORTFOLIO PIECES-------- 
*/

.portfolio-item {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    margin: 20px;
}

.portfolio-item h3, .portfolio-item p{
    margin: 15px;
}

.portfolio-item .btn-1 {
    margin: 15px;
    align-self: flex-start;
}

/* 
    ---------
    MEDIA QUERIES
    ---------
*/

@media (max-width: 899px) {
    .wrapper {
        max-width: 860px;
        margin: 0 auto;
    }
}

@media (max-width: 600px) {

    /* Navigation */
    .logo {
        font-size: 2.3rem;
        padding: 5px;
    }

    .nav-item {
        font-size: 1rem;
    }

    /* Work Section */
    .work-item {
        padding: 80px;
    }

    .work-item .btn-1 {
        font-size: 1.4rem;
    }
}

@media (min-width: 900px) {

    /* Wrapper */
    .wrapper {
        max-width: 100%;  
    } 

    /* Work Section */

    .work-grid {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "c c c c b b b b"
            ". . a a a a . .";
    }

    .work-item:nth-child(1) {
        grid-area: a;
    }

    .work-item:nth-child(2) {
        grid-area: b;
    }

    .work-item:nth-child(3) {
        grid-area: c;
    }

    /* Portfolio Items */

    .portfolio-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (hover:hover) {

    .work-item:hover {
        transition: 0.6s ease-in-out;
        transform: translateY(-10px);
        box-shadow: 23px 23px var(--dark);
    }

    .portfolio-item:hover {
        transition: 0.6s ease-in-out;
        transform: translateY(-10px);
        box-shadow: 17px 17px var(--dark);
    }
}