:root {
    --dark: #0f1014;
    --light: #F7F5FB;
    --primary: #084887;
    --secondary: #f98f0c;
    --tertiary: #F9AB55;
    --extra-bg: #a3afd6;
}

/* 
    --------
    BASE SETTINGS
    -------- 
*/
body {
    font-family: "Roboto Slab", serif;
}

/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

h1, h2 {
    font-family: "Rokkitt", serif;
}

h3, p, a {
    font-family: "Manrope", sans-serif;
}

h3 {
    font-size: 2.5rem;
    font-weight: 500;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

.heading-background {
    background-color: var(--tertiary);
}

.heading-background div {
    background-color: white;
    margin: 0 auto;
    width: 55%;
}

.section-heading {
    text-align: center;
    margin: 40px 0 30px 0;
    padding: 10px;
}

.btn-1 {
    background-color: transparent;
    border: 1px solid var(--secondary);
    color: var(--light);
    padding: 30px;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 6px;
}

.btn-1:hover {
    transition: ease-in-out 0.4s;
    background-color: var(--secondary);
    color: var(--light);
    box-shadow: 5px 5px black;
    text-decoration: underline;
}

/* Size of mobile wrapper */
.wrapper {
    max-width: 860px;
    margin: 0 auto;
}

/* Hides skip links */
.skip-links a {
    position: absolute;
    top: -3em;
    background-color: var(--tertiary);
    color: var(--light);
    padding: .5em 1em;
    font-weight: bold;
}

.skip-links a:focus {
    top: 0;
}

/* 
    --------
    NAVIGATION
    -------- 
*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
}

.logo {
    font-weight: bold;
    margin: 16px;
    margin-left: 25px;
    color: var(--light);
}

.navbar a {
    text-decoration: none;
    font-size: 1.313rem;
}

.logo:hover {
    transition: 0.5s ease-in-out;
    color: #c3dffc;
}

.navigation {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.nav-item {
    text-decoration: none;
    margin: 20px;
    color: var(--light);
    font-size: 1.2rem;
}

.nav-item:hover {
    text-decoration: underline;
}

.active {
    background-color: var(--light);
    padding: 10px 30px;
    color: var(--dark);
    border-radius: 2px;
}

.active:hover {
    transition: ease-in-out 0.4s;
    box-shadow: 5px 5px var(--dark);
}

/* 
    --------
    HEADER
    -------- 
*/

.home-banner {
    height: 60vh;
    color: var(--light);
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url(../images/portfolio-header-1.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-banner h2 {
    margin: 40px 20px;
    font-size: 4.5rem;
    border: 8px var(--tertiary);
    border-style: dashed solid;
    border-radius: 8px;
    padding: 25px;
    display: inline-block;
}

.home-banner p {
    font-size: 1.25rem;
    margin: 0 50px;
}

.banner-content {
    margin: 10px;
    text-align: center;
}

/* 
    --------
    FOOTER
    -------- 
*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    color: var(--light);
    margin-top: 40px;
}

footer p {
    font-size: 1.125rem;
    margin: 20px;
    color: var(--light);
}

.icons {
    font-size: 3rem;
    margin: 20px;
}

.icons .bi {
    color: var(--secondary);
}

.icons .bi:hover {
    transition: 0.5s;
    color: #e4901a;
}

/* 
    ---------
    HOMEPAGE
    ---------
*/

/* 
    --------MY WORK-------- 
*/

.work-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.work-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px;
    margin: 20px;
    border-radius: 6px;
    background-color: #f8f8f8;
}

.work-item h3 {
    margin: 15px 0;
    color: #ffffff;
}

.work-item .btn-1 {
    align-self: center;
    margin: 20px 0 5px 0;
    color: var(--light);
}

.work-item .btn-1:hover {
    box-shadow: none;
}

/* Background images */
#web {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../images/web-design.jpg) no-repeat center;
    background-size: cover;
}

#video {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../images/video.jpg) no-repeat center;
    background-size: cover;
}

#user {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../images/ux.jpg) no-repeat center;
    background-size: cover;
}

#graphic {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../images/graphic-design.jpg) no-repeat center;
    background-size: cover;
}

/* 
    ---------
    PORTFOLIO PAGE
    ---------
*/

/* 
    --------PORTFOLIO PIECES-------- 
*/

.portfolio-item {
    display: flex;
    flex-direction: column;
    background-color: #052443;
    margin: 20px;
    border-radius: 6px;
}

.portfolio-item h3 {
    color: #1c8bfa;
}

.portfolio-item p {
    color: var(--light);
}

.portfolio-item h3, .portfolio-item p{
    margin: 15px;
}

.portfolio-item .btn-1 {
    margin: 15px;
    align-self: flex-start;
    color: var(--light);
}

.prototypes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sources {
    text-align: center;
}

.portfolio-item p a {
    color: #0d71d5;
}

.portfolio-section p a:hover {
    color: #0f86fc;
}

/* 
    ---------
    MEDIA QUERIES
    ---------
*/

@media (max-width: 899px) {
    .wrapper {
        max-width: 860px;
        margin: 0 auto;
    }
}

@media (max-width: 700px) {

    /* Navigation */
    .logo {
        padding: 5px;
        font-size: 3rem;
    }

    .nav-item {
        font-size: 1rem;
    }

    .navbar a {
        font-size: 1.125rem;
    }

    /* Work Section */
    .work-item {
        padding: 60px;
    }

    .work-item .btn-1 {
        font-size: 1.4rem;
    }

    iframe {
        width: 380px;
    }
}

@media (min-width: 900px) {

    /* Wrapper */
    .wrapper {
        max-width: 100%;  
    } 

    .banner-content
    {
        margin: 20px;
    }

    /* Work Section */

    .work-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    /* Portfolio Items */

    .portfolio-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .prototypes {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        margin: 15px;
        grid-template-areas: 
        "a a a b b b"
        "c c c c c c";
    }

    .prototypes article:nth-child(1) {
        grid-area: a;
    }

    .prototypes article:nth-child(2) {
        grid-area: b;
    }

    .prototypes article:nth-child(3) {
        grid-area: c;
    }

    .prototype {
        width: 100%;
    }
}

@media (min-width: 1100px) {

}

@media (hover:hover) {

    .work-item:hover {
        transition: 0.6s ease-in-out;
        transform: translateY(-10px);
        box-shadow: 23px 23px var(--dark);
    }

    .portfolio-item:hover {
        transition: 0.6s ease-in-out;
        transform: translateY(-10px);
        box-shadow: 17px 17px var(--dark);
    }
}